@import 'src/style/variables.scss';

.color-changing {
    border: $lineWidth $lineStyle $lineColor;
    margin-top: 10px;
    padding: 15px;
    width: 100%;
}

.color-text:after,
.device-type:after {
    font-weight: bold;
}
