@import 'src/style/variables.scss';

body {
    font-family: 'Comic Sans MS', 'Comic Sans', 'Comic Neue', sans-serif;
    // background: url("http://ir.ebaystatic.com/pictures/aw/pics/cmp/ds3/imgbg.jpg");
    background-color:rgb(0,0,0);
    background-image:url(http://www.zingerbugimages.com/backgrounds/multi_colored_stars2.gif);
    background-position:top left;
    background-repeat:repeat;
    background-attachment:fixed;
}

input {
    border: $lineWidth $lineStyle $lineColor;
    font-size: 16px;
    height: 40px;
}

button {
    background-color: #0654ba;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    width: 130px;
}