@import 'src/style/variables.scss';

.image-container {
    border-top: $lineWidth $lineStyle $lineColor;
    border-bottom: $lineWidth $lineStyle $lineColor;
    background-color: white;
}

.item-image {
    width: 100%;
    content: url('http://i.ebayimg.com/00/s/NzY4WDgyOQ==/z/9aYAAOSwoydWsbPg/$_1.JPG');
}