@import 'src/style/variables.scss';

.image-container {
    border-top: $lineWidth $lineStyle $lineColor;
    border-bottom: $lineWidth $lineStyle $lineColor;
    background-color: white;
}

.image-container img {
    width: 100%;
}