@import 'src/style/variables.scss';

.image-container {
    border: $lineWidth $lineStyle $lineColor;
    background-color: white;
}

.item-image {
    width: 100%;
    content: url('http://i.ebayimg.com/images/g/9aYAAOSwoydWsbPg/s-l1600.jpg');
}

.sunglasses {
    display: none;
}
