@import 'src/style/variables.cornify.scss';

.image-container {
    border-top: $lineWidth $lineStyle $lineColor;
    border-bottom: $lineWidth $lineStyle $lineColor;
    background-color: white;
    position: relative;
}

.item-image {
    width: 100%;
    content: url('http://i.ebayimg.com/00/s/NzY4WDgyOQ==/z/9aYAAOSwoydWsbPg/$_1.JPG');
}

.sunglasses {
    position: absolute;
    top: 46%;
    left: 12%;
    width: 33%;
    transform: rotate(-7deg);
    content: url('https://cdn.pixabay.com/photo/2014/04/02/10/56/sunglasses-304998__340.png');
}
