#root {
    margin: 8px;
}

.app-layout {
    max-width: 1250px;
    min-width: 768px; /* down to tablet size */
    margin: 0 auto;
}

.main-content,
.column {
    display: flex;
}

.image-col {
    width: 40%;
}

.details {
    flex: 1;
    margin-left: 15px;
}

.flex1 {
    flex: 1;
}
